<mat-toolbar color="primary">
  <div class="logo">
    <img
      src="../../../assets/images/logo-ng-fukuoka-white.png"
      alt="ng-fukuoka"
    />
  </div>
  <div class="title">ng-fukuoka</div>
  <a
    class="logo"
    href="https://twitter.com/ng_fukuoka"
    target="blank"
    rel="noopener noreferrer"
    title="Twitter"
    alt="Twitter"
    aria-label="ng-fukuoka on Twitter"
  >
    <mat-icon svgIcon="twitter"></mat-icon>
  </a>
  <a
    class="logo"
    href="https://github.com/ng-fukuoka"
    target="blank"
    rel="noopener noreferrer"
    title="GitHub"
    alt="GitHub"
    aria-label="ng-fukluoka on GitHub"
  >
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</mat-toolbar>
