.logo {
  display: flex;

  img {
    height: 24px;
  }

  & + .logo {
    margin-left: 16px;
  }
}

.ng-fukuoka-logo {
  img {
    height: 32px;
  }
}

.title {
  display: flex;
  flex: 1;
  margin-left: 8px;
  text-transform: uppercase;
}
