<mat-toolbar color="primary">
  <div class="logo ng-fukuoka-logo">
    <img src="assets/images/logo-ng-fukuoka-white.png" alt="" />
  </div>
  <div class="title">ng-fukuoka</div>
  <a
    class="logo"
    href="https://twitter.com/ng_fukuoka"
    target="blank"
    rel="noopener noreferrer"
    title="Twitter"
    alt="Twitter"
    aria-label="ng-fukuoka on Twitter"
  >
    <img src="assets/images/logo-twitter-white.svg" alt="" />
  </a>
  <a
    class="logo"
    href="https://github.com/ng-fukuoka"
    target="blank"
    rel="noopener noreferrer"
    title="GitHub"
    alt="GitHub"
    aria-label="ng-fukluoka on GitHub"
  >
    <img src="assets/images/logo-github-white.svg" alt="" />
  </a>
</mat-toolbar>
