@use '@angular/material' as mat;
@use 'theme.scss' as theme;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
  background-color: mat.get-color-from-palette(theme.$ng-fukuoka-primary);
  color: #fff;
  text-align: center;
}

.footer-logo {
  height: 50px;
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  font-size: 0.8rem;
}
