:host {
  display: grid;
  min-height: 100vh;
  grid-template:
    'header' 64px
    'main' 1fr
    'footer' 160px / 1fr;

  @media (max-width: 599px) {
    grid-template:
      'header' 56px
      'main' 1fr
      'footer' 160px / 1fr;
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: #fff;
}

.footer {
  grid-area: footer;
}
