:host {
  display: grid;
  min-height: 100vh;
  grid-template:
    'header' 64px
    'main' 1fr
    'footer' 160px / 1fr;

  @media (max-width: 599px) {
    grid-template:
      'header' 56px
      'main' 1fr
      'footer' 160px / 1fr;
  }
}

.header {
  // position: sticky;
  // top: 0;
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
