@use '~@angular/material' as mat;
@use 'theme.scss' as theme;

:host {
  text-align: left;
}

th:not(:last-child),
td:not(:last-child) {
  padding-right: 16px;
}

a {
  text-decoration: none;
  color: mat.get-color-from-palette(theme.$ng-fukuoka-primary);
}

@media (max-width: 599px) {
  .col-place {
    display: none;
  }
}
