@import 'theme.scss';

html {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

html,
body {
  height: 100%;
  background-color: mat-color($app-primary);
}
body {
  margin: 0;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
