@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-light-blue, 800);
$app-accent: mat-palette($mat-yellow, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
