<section class="hero">
  <h1 class="hero-title">ng-fukuoka</h1>
  <img
    height="240"
    src="../../../assets/images/logo-ng-fukuoka.svg"
    alt="Angular"
  />
  <h2 class="hero-subtitle">Angular Community in Fukuoka</h2>
  <a
    class="hero-button"
    href="https://ng-fukuoka.connpass.com"
    target="blank"
    rel="noopener noreferrer"
    mat-raised-button
  >
    ng-fukuokaのイベントに参加する
  </a>
</section>
<section class="section">
  <h2 class="title">About</h2>
  <p>
    ng-fukuokaは福岡を中心に活動するAngularユーザーコミュニティです。<br />
    ミートアップやもくもく会などを開催してAngularの普及に努めています。
  </p>
</section>
<section class="section">
  <h2 class="title">Organizers</h2>
  <p>
    ng-fukuokaの運営メンバーです。
  </p>
  <div class="container">
    <div class="row">
      <div class="col organizer">
        <img class="avator" src="../../../assets/images/01.png" alt="puku0x" />
        <div class="name">puku0x</div>
      </div>
      <div class="col organizer">
        <img class="avator" src="../../../assets/images/02.png" alt="gupuru" />
        <div class="name">gupuru</div>
      </div>
    </div>
    <div class="row">
      <div class="col organizer">
        <img class="avator" src="../../../assets/images/03.png" alt="mya-ake" />
        <div class="name">mya-ake</div>
      </div>
      <div class="col organizer">
        <img class="avator" src="../../../assets/images/04.png" alt="ponday" />
        <div class="name">ponday</div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <h2 class="title">Events</h2>
  <p>
    ng-fukuoka主催のイベントです。
  </p>
  <div class="events">
    <app-event-table [events]="events$ | async"></app-event-table>
  </div>
</section>
