@import '../../theme.scss';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  min-height: calc(100vh - env(safe-area-inset-top) - 64px);
  background: linear-gradient(
    mat-color($app-primary),
    mat-color($app-primary, 300)
  );
  color: #fff;

  @media (max-width: 599px) {
    min-height: calc(100vh - env(safe-area-inset-top) - 56px);
  }
}

.hero-title {
  margin: 16px 0;
  padding: 0 16px;
  font-size: 2rem;
  font-weight: 400;
}

.hero-subtitle {
  padding: 0 16px;
  font-size: 1.3rem;
  font-weight: 300;
}

.hero-button {
  margin: 32px 0 64px 0;
}

.title {
  font-size: 2rem;
  font-weight: 400;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.container {
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 599px) {
    display: block;
  }
}

.col {
  padding: 24px;
}

.section {
  padding: 16px;
  margin-top: 72px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);

  &:last-child {
    margin-bottom: 80px;
  }
}

.organizer {
  text-align: center;

  .avator {
    width: 160px;
    border-radius: 50%;
  }

  .name {
    margin: 8px;
  }
}

.events {
  display: flex;
  justify-content: center;
}
