<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1>ng-fukuoka</h1>
      <p class="docs-homepage-promo-img">
        <img style="width:160px" src="../../../assets/ng-fukuoka_logo.svg" alt="Angular">
      </p>
      <h2>Angular Community in Fukuoka</h2>
    </div>
    <div class="docs-header-start">
      <a md-raised-button href="https://ng-fukuoka.connpass.com/event/57552/" target="_blank">ng-fukuoka Angular Meetup #1に参加する</a>
    </div>
  </div>
</header>

<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <h2>About</h2>
      <p>
        ng-fukuokaは福岡県を中心に活動するAngularユーザーコミュニティです。
      </p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-desc">
      <h2>Organizers</h2>
      <p>
        ng-fukuokaの運営メンバーです。
      </p>

      <md-grid-list cols="1" rowHeight="200px">
        <md-grid-tile>
          <div class="docs-homepage-organizer">
            <div>
              <img class="avator" src="../../../assets/01.png" alt="puku0x">
            </div>
            <div style="name">puku0x</div>
          </div>
        </md-grid-tile>
        <md-grid-tile>
          <div class="docs-homepage-organizer">
            <div>
              <img class="avator" src="../../../assets/02.png" alt="gupuru">
            </div>
            <div style="name">gupuru</div>
          </div>
        </md-grid-tile>
        <md-grid-tile>
          <div class="docs-homepage-organizer">
            <div>
              <img class="avator" src="../../../assets/03.png" alt="mya-ake">
            </div>
            <div style="name">mya-ake</div>
          </div>
        </md-grid-tile>
        <md-grid-tile>
          <div class="docs-homepage-organizer">
            <div>
              <img class="avator" src="../../../assets/04.png" alt="ponday">
            </div>
            <div style="name">ponday</div>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>

<!--<section>
  <h1>About</h1>
  <p>
    ng-fukuokaは福岡県を中心に活動するAngularユーザーコミュニティです。
  </p>
</section>
<section>
  <h1>Organizers</h1>
  <p>
    ng-fukuokaの運営スタッフです。
  </p>
  <div>
    puku0x
  </div>
  <div>
    gupuru
  </div>
  <div>
    mya-ake
  </div>
  <div>
    ponday
  </div>
</section>





<div>
  <md-card>
    <h1>About</h1>
    <md-card-header>
    </md-card-header>
    <md-card-content>
      <p>
        ng-fukuokaは福岡県を中心に活動するAngularユーザーコミュニティです。
      </p>
    </md-card-content>
  </md-card>
  <md-card>
    <h1>Organizers</h1>
    <md-card-header>
    </md-card-header>
    <md-card-content>
      <div>
        puku0x
      </div>
      <div>
        gupuru
      </div>
      <div>
        mya-ake
      </div>
      <div>
        ponday
      </div>
    </md-card-content>
  </md-card>
</div>-->

<!--<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/examples/shiba2.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>

<div class="content">
  <md-grid-list>
    <md-grid-tile>
      <div class="title"></div>
    </md-grid-tile>
    <md-grid-tile>
      <h1>About</h1>
      <div>
        ng-fukuokaは福岡県を中心に活動するAngularユーザーコミュニティです
      </div>
    </md-grid-tile>
    <md-grid-tile>
      <h1>Organizers</h1>
      <div>
        puku0x
      </div>
      <div>
        gupuru
      </div>
      <div>
        mya-ake
      </div>
      <div>
        ponday
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>-->
